apiVersion: v1
kind: Secret
metadata:
  name: n8n-secret
  namespace: jc-n8n
  labels:
    app: n8n
    component: secret
type: Opaque
stringData:
  N8N_SMTP_PASS: "password"
  N8N_ENCRYPTION_KEY: "password"
  DB_POSTGRESDB_PASSWORD: "password"
